@font-face {
  font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1465518208');
  src: url('../iconfont/iconfont.eot?t=1465518208#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../iconfont/iconfont.woff?t=1465518208') format('woff'),
    /* chrome, firefox */
    url('../iconfont/iconfont.ttf?t=1465518208') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../iconfont/iconfont.svg?t=1465518208#iconfont') format('svg');
  /* IE9*/
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gantanhao:before {
  content: "\e602";
}

.icon-kuaijin:before {
  content: "\e603";
}

.icon-menu:before {
  content: "\e604";
}

.icon-yinliang:before {
  content: "\e605";
}

.icon-music:before {
  content: "\e606";
}

.icon-pause:before {
  content: "\e607";
}

.icon-play:before {
  content: "\e608";
}

ul,
li,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #333;
}

body,
html {
  width: 100%;
  height: 100%;
}

.screen {
  width: 262px;
  height: 422px;
  overflow: hidden;
  position: relative;
  display: none;
}

#toggle {
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  color: #fff;
  box-shadow: 2px 2px 3px #ccc;
  padding: 10px;
  position: relative;
}

#toggle .icon-music {
  font-size: 31px;
}

#play {
  position: absolute;
  left: 2%;
  top: 4%;
}

.onMove {
  cursor: move;
}

.play-ct {
  margin-top: 10px;
}

.play-menu {
  width: 100px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  height: 410px;
  position: absolute;
  left: -113px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  overflow: scroll;
  text-align: center;
}

.play-menu .fm-type>li {
  margin: 20px auto;
  color: #fff;
}

.play-menu .fm-type>li.active:before,
.play-menu .fm-type>li:hover:before {
  display: inline-block;
  float: left;
  line-height: 15px;
  content: '';
  width: 0;
  height: 0;
  border-left: 8px solid #FFF;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
}

.play-menu::-webkit-scrollbar {
  /* 设置滚动条的样式 */

  width: 5px;
  height: 5px;
}

.play-menu::-webkit-scrollbar-track {
  /* 滚动槽 */

  border-radius: 30px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}

.play-menu::-webkit-scrollbar-thumb {
  /* 滚动条滑块 */

  border-radius: 10px;
  background: #fff;
}

.song-name {
  height: 30px;
  line-height: 30px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.center {
  text-align: center;
}

.clearFix:after {
  content: "";
  display: block;
  clear: both;
}

.play-main {
  width: 250px;
  height: 410px;
  border: 1px solid #999;
  z-index: 100;
  border-radius: 5px;
  background: linear-gradient(-45deg, rgba(220, 161, 83, 0.5), rgba(217, 157, 97, 0.5) 25%, rgba(217, 157, 97, 0.5) 25%, rgba(155, 139, 100, 0.5) 40%, rgba(155, 139, 100, 0.5) 40%, rgba(35, 44, 73, 0.5) 75%, rgba(35, 44, 73, 0.5) 75%, rgba(11, 10, 43, 0.5));
}

.play-main .main-head {
  height: 35px;
  padding: 5px 5px 0 5px;
  border-radius: 5px 5px 0 0;
}

.play-main .main-head .icon {
  font-size: 24px;
  position: absolute;
}

.play-main .main-head .icon-menu {
  left: 5px;
  top: 15px;
}

.play-main .main-head .icon-gantanhao {
  right: 15px;
  top: 15px;
}

.play-main .main-head .song-name {
  color: #fff;
  width: 83%;
  margin: 0 auto;
}

.play-main .main-head .my-info {
  color: #333;
  position: absolute;
  right: 13px;
  top: 64px;
  padding: 3px;
  font-size: 8px;
  display: none;
}

.play-main .time-outline {
  position: absolute;
  width: 200px;
  left: 50%;
  top: 48px;
  height: 2px;
  background-color: #625440;
  cursor: pointer;
  display: inline-block;
  margin-left: -105px;
  border-radius: 5px;
}

.play-main .time-outline .time {
  position: absolute;
  height: 2px;
  background-color: #fff;
  border-radius: 5px;
}

.play-main .time-outline .time-after {
  content: "";
  position: absolute;
  top: -3px;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
}

.play-main .time-num {
  padding: 0 5px;
}

.play-main .time-num .curTime,
.play-main .time-num .durTime {
  font-size: 10px;
  color: #fff;
}

.play-main .song-lyric {
  width: 250px;
  height: 100px;
  margin: 40px auto 0 auto;
  position: relative;
  overflow: hidden;
}

.play-main .song-lyric .lyric {
  position: absolute;
  width: 100%;
  text-align: center;
}

.play-main .song-lyric .lyric li {
  padding: 5px 0 2px 0;
  position: relative;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  transition: all 0.5s;
}

.play-main .song-lyric .lyric li.active {
  font-size: 13px;
  color: #ffffff;
}

.play-main .song-disc {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #564A41;
  box-shadow: 0 0 2px 2px #564A41;
  position: absolute;
  left: 50%;
  margin: 10px auto 10px -75px;
  background-size: cover;
}

.play-main .disc-animation {
  animation: spin 10s linear infinite;
  animation-play-state: running;
}

.play-main .disc-animation:hover,
.play-main .disc-animation.pause {
  animation-play-state: paused;
}

.play-main .disc-control {
  border: 1px solid #666;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 26%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  z-index: 100;
  text-align: center;
  line-height: 40px;
  background: -webkit-radial-gradient(circle, #aa9f89, #796a55, #342e25);
  /*safari*/

  background: -o-radial-gradient(circle, #aa9f89, #796a55, #342e25);
  /*opera*/

  background: -moz-radial-gradient(circle, #aa9f89, #796a55, #342e25);
  /*Firefox*/

  background: radial-gradient(circle, #aa9f89, #796a55, #342e25);
  color: #fff;
}

.play-main .disc-control .icon {
  font-size: 24px;
  -webkit-transition: font-size 0.25s ease-out 0s;
  -moz-transition: font-size 0.25s ease-out 0s;
  transition: font-size 0.25s ease-out 0s;
  cursor: pointer;
}

.play-main .disc-control .icon:hover {
  font-size: 35px;
}

.play-main .main-foot {
  margin-top: 175px;
  padding: 0 5px 5px 5px;
}

.play-main .main-foot .icon {
  font-size: 25px;
  color: #fff;
  -webkit-transition: font-size 0.25s ease-out 0s;
  -moz-transition: font-size 0.25s ease-out 0s;
  transition: font-size 0.25s ease-out 0s;
  cursor: pointer;
  display: inline-block;
}

.play-main .main-foot .icon:hover {
  font-size: 35px;
}

.play-main .main-foot .vol-ct {
  width: 150px;
  height: 16px;
  display: inline-block;
  border-radius: 2px;
  position: absolute;
  right: 50%;
  margin-right: -68px;
  background: rgba(255, 255, 255, 0.2);
  bottom: 15px;
}

.play-main .main-foot .vol-ct:after {
  width: 0;
  height: 0;
  content: "";
  position: absolute;
  left: 100%;
  top: 3px;
  border-left: 5px solid rgba(255, 255, 255, 0.2);
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
}

.play-main .main-foot .vol-outline {
  position: absolute;
  width: 135px;
  height: 2px;
  background: #625440;
  cursor: pointer;
  display: inline-block;
  bottom: 6px;
  right: 6px;
  z-index: 5;
}

.play-main .main-foot .vol-outline .vol {
  position: absolute;
  z-index: 6;
  height: 2px;
  width: 100%;
  background-color: #fff;
}

.play-main .main-foot .vol-outline .vol-after {
  content: "";
  position: absolute;
  top: -3px;
  display: inline-block;
  width: 8px;
  height: 8px;
  left: 130px;
  border-radius: 50%;
  background: #fff;
}

@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}

@-webkit-keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}

@-moz-keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}

@-ms-keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}

@-o-keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}

#frame {
  display: none;
}