* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* body {
  overflow: hidden;
  background: url("../img/background-1.jpg") no-repeat center;
  background-size: cover;
}

* body #drawing-board {
  background: white;
  position: fixed;
  opacity: 0.8;
  display: block;
  cursor: crosshair;
}

* body .tools {
  position: fixed;
  left: 0;
  bottom: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

* body .tools button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #eee;
  outline: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 10px;
  text-align: center;
  color: #ccc;
  line-height: 50px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

* body .tools button.active,
* body .tools button:active {
  -webkit-box-shadow: 0 0 15px #00ccff;
  box-shadow: 0 0 15px #00ccff;
  color: #00ccff;
}

* body .tools button i {
  font-size: 24px;
}

* body .color-group {
  position: fixed;
  width: 30px;
  left: 30px;
  top: 50%;
  -webkit-transform: translate(0, -150px);
  transform: translate(0, -150px);
}

* body .color-group ul {
  list-style: none;
}

* body .color-group ul li {
  width: 30px;
  height: 30px;
  margin: 10px 0;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid white;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

* body .color-group ul li.active {
  -webkit-box-shadow: 0 0 15px #00ccff;
  box-shadow: 0 0 15px #00ccff;
}

* body #range-wrap {
  position: fixed;
  top: 50%;
  right: 30px;
  width: 30px;
  height: 150px;
  margin-top: -75px;
}

* body #range-wrap input {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 150px;
  height: 20px;
  margin: 0;
  -webkit-transform-origin: 75px 75px;
  transform-origin: 75px 75px;
  border-radius: 15px;
  -webkit-appearance: none;
  outline: none;
  position: relative;
}

* body #range-wrap input::after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right: 150px solid #00ccff;
  border-left-width: 0;
  position: absolute;
  left: 0;
  top: 5px;
  border-radius: 15px;
  z-index: 0;
}

* body #range-wrap input[type="range"]::-webkit-slider-thumb,
* body #range-wrap input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
}

* body #range-wrap input[type="range"]::-webkit-slider-runnable-track,
* body #range-wrap input[type="range"]::-moz-range-track {
  height: 10px;
  border-radius: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

* body #range-wrap input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  margin-top: -1px;
  background: #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 8px #00ccff;
  box-shadow: 0 0 8px #00ccff;
  position: relative;
  z-index: 999;
}

@media screen and (max-width: 768px) {
  * body .tools {
    bottom: auto;
    top: 20px;
  }

  * body .tools button {
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  * body .tools button.active,
  * body .tools button:active {
    -webkit-box-shadow: 0 0 5px #00ccff;
    box-shadow: 0 0 5px #00ccff;
  }

  * body .tools button i {
    font-size: 18px;
  }

  * body .tools #swatches {
    display: none;
  }

  * body .color-group {
    left: 0;
    top: auto;
    bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  * body .color-group ul li {
    display: inline-block;
    margin: 0 5px;
  }

  * body .color-group ul li.active {
    -webkit-box-shadow: 0 0 10px #00ccff;
    box-shadow: 0 0 10px #00ccff;
  }

  * body #range-wrap {
    right: auto;
    left: 20px;
  }

}

/*# sourceMappingURL=style.css.map */